@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --header-background: #012d63;
  --header-text: #c7c7c7;
  --nike-color: #ffffff;
  --button-color: #8e32c6;
}

body {
  font-family: "Roboto";
}

.header {
  display: flex;
  width: 1440px;
  height: 90px;
  background-color: var(--header-background);
  margin: 0 auto;
}

.header-menu a {
  color: var(--header-text);
  text-decoration: none;
}

.header-list,
.header-language,
.header-menu {
  display: flex;
}

.header-nike {
  margin: 16px 152px 16px 168px;
}

.header-menu {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.13px;
}

.header-main {
  width: 112px;
}

.header-benefits {
  width: 86px;
}

.header-advantages {
  width: 125px;
}

.header-reviews {
  width: 88pxpx;
}

.header-contacts {
  width: 96px;
}

.header-order {
  width: 58px;
}

.header-language {
  width: 81px;
  justify-content: space-between;

  margin-left: 73px;
}

.header-list {
  width: 701px;
  justify-content: space-between;
}

.header-menu a:hover {
  font-weight: 400;
  color: var(--nike-color);
}

.main {

}

.main-nike {
  color: var(--nike-color);
  width: 160px;
  height: 120px;
  margin-top: 94px;

  margin-left: 170px;
}

.main-call_to_action {
  background-image: url(../img/nike\ main.jpg);
  width: 1440px;
  height: 858px;
  margin: 0 auto;
  color: var(--nike-color);

}

.main-cqr {
  font-family: "PT Serif";
  font-size: 48px;
  font-weight: 400;
 }

.main-colorawe-title {
  font-family: "Playfair Display";
  font-size: 144px;
  width: 640px;
  height: 192px;
  margin-top: 27px;
  margin-left: 156px;
  height: 150px;
}

.nike-container{
  position: relative;
}


.text-c-and-r{
  position: absolute;
  bottom: -20px;
  left: 190px;

}




.main-your-dream-nike-text {
  font-family: "Playfair Display";
  font-size: 72px;
  width: 540px;
  height: 96px;

  margin-left: 156px;
}

.main-text {
  font-size: 18px;
  width: 508px;
  height: 84px;
  font-weight: 400;
  line-height: 21.09px;

  margin-left: 156px;
  margin-bottom: 41px;
}

.main-button {
  width: 254px;
  height: 67px;
  font-size: 24px;
  border-radius: 10px;
  color: var(--nike-color);
  background-color: var(--button-color);
  margin-left: 156px;
}

.benefits {
  background-image: url(../img/Group\ 8\ 1.png);
  height: 606px;
  width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.benefits-border {
  border: 5px var(--button-color) solid;
  display: flex;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.div-star {
  width: 240px;
  height: 240px;
}

.div-star-name {
  color: var(--nike-color);
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 47.99px;
  text-align: center;
  width: 159px;
  height: 102px;
}

.div-color {
  width: 240px;
  height: 240px;
}

.div-color-name {
  font-family: "Playfair Display";
  color: var(--nike-color);
  width: 161px;
  height: 102px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.div-car {
  width: 240px;
  height: 240px;
}

.div-car-name {
  font-family: "Playfair Display";
  color: var(--nike-color);
  width: 151px;
  height: 103px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.div-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  padding-right: 50px;
}

.div-box:last-child {
  border-right: none;
  padding-left: 50px;
  padding-right: 10px;
}

.div-box:nth-child(2) {
  padding-left: 90px;
  padding-right: 90px;
}

.reviews-wrapper {
  background: url("../img/reviewsbackground\ \(1\).png");
  width: 1440px;
  height: 520px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.reviews-title {
  color: var(--nike-color);
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  width: 175px;
  height: 65px;
  align-self: center;

  margin-top: 24px;
  margin-bottom: 24px;
}

.reviews {
  display: flex;
  background: url("../img/leaves.png") no-repeat bottom left;
  width: 1440px;
  height: 407px;
}

.reviews-list {
  color: var(--nike-color);
  display: flex;
  margin: 0 auto;
  width: 951px;
  height: 292px;
  border-radius: 15px;

  justify-content: space-between;
}

.reviews-item1, .reviews-item2, .reviews-item3{
  width: 255px;
  height: 292px;
  border-radius: 15px;

  padding-left: 13px;

  
}  

.reviews-item1{
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);

box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;



}



.reviews-text{
  width: 228px;
height: 112px;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;

margin-top: 49px;
}

.reviews-date{
  color: var(--header-text);
  width: 36px;
height: 16px;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;

padding-top: 8px;
margin-bottom: 47px;
}

.reviews-author{
  display: flex;
}

.reviews-img{
  margin-right: 5px;
  width: 33px;
  height: 33px;
}

.reviews-from-when{
  color: var(--header-text);
  margin-top: 1px;
  
}

.reviews-item2{
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);

  box-shadow:0px 14px 0px -5px  #9159B1, 0px 30px 0px -13px #61337C;

}

.reviews-item3{
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);

  box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;

}


