@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --header-background: #012D63;
    --header-text: #C7C7C7;
    --nike-color: #FFFFFF;
    --button-color: #8E32C6;

}

body{
    font-family: "Roboto";
}

.header{
    display: flex;
    width: 1440px;
    height: 90px;
    background-color: var(--header-background);
    margin: 0 auto;


}

.header-menu a{
    color: var(--header-text);
    text-decoration: none;
}

.header-list, .header-language, .header-menu{
    display: flex;
}

.header-nike{
    margin: 16px 152px 16px 168px;
}

.header-menu{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28.13px;
}

.header-main{
    width: 112px;

}

.header-benefits{
    width: 86px;
}

.header-advantages{
    width: 125px;
}

.header-reviews{
    width: 88pxpx;
}

.header-contacts{
    width: 96px;
}


.header-order{
    width: 58px;
}


.header-language{
    width: 81px;
    justify-content: space-between;

    margin-left: 73px;
}

.header-list{
    width: 701px;
    justify-content: space-between;
}

.header-menu a:hover{
font-weight: 400;
color: var(--nike-color);

}

.main{
    background-image: url(../img/nike\ main.jpg);
    width: 1440px;
    height: 858px;
    margin: 0 auto;
}

.main-nike{
    color: var(--nike-color);
    width: 160px;
    height: 120px;
    margin-top: 94px;

    margin-left: 170px;
    
}

.main-call_to_action{
    color: var(--nike-color);
}

.main-cqr{
     font-family: "PT Serif";
    font-size: 48px;
    padding-left: 195px;
}

.main-colorawe-title{
    font-family: "Playfair Display";
    font-size: 144px;
    width: 640px;
    height: 192px;

    margin-left: 156px;
}


.main-your-dream-nike-text{
    font-family: "Playfair Display";
    font-size: 72px;
    width: 540px;
    height: 96px;

    margin-left: 156px;
}

.main-text{
    font-size: 18px;
    width: 508px;
    height: 84px;
    font-weight: 400;
    line-height: 21.09px;

    margin-left: 156px;
    margin-bottom: 41px;
}

.main-button{
    width: 254px;
    height: 67px;
    font-size: 24px;
    border-radius: 10px;
    color: var(--nike-color);
    background-color: var(--button-color);
    margin-left: 156px;

}