@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$header-background: #012d63;
$header-text: #c7c7c7;
$nike-color: #ffffff;
$button-color: #8e32c6;
$main-text: #959595;
$footer-background: #021635;

%flexmargin{
  display: flex;
  margin: 0 auto;
}

%flex{
  display: flex;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}



.header {
  @extend %flexmargin;
  @include size(1440px, 90px);
  background-color: $header-background;

  &-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28.13px;

    & a {
      color: $header-text;
      text-decoration: none;
    }
  }
  &-list,
  &-language,
  &-menu {
    @extend %flex;
  }

  &-nike {
    margin: 16px 152px 16px 168px;
  }

  &-main {
    width: 112px;
  }

  &-benefits {
    width: 86px;
  }

  &-advantages {
  width: 125px;
  }

  &-reviews {
    width: 88pxpx;
  }

  &-contacts {
  width: 96px;
  }

  &-order {
    width: 58px;
  }

  &-language {
    width: 81px;
    justify-content: space-between;
  
    margin-left: 73px;
  }

  &-list {
    width: 701px;
    justify-content: space-between;
  }
  &-menu a:hover {
    font-weight: 400;
    color: $nike-color;
  }
}

.main{
  &-call_to_action {
    background-image: url(../img/nike\ main.jpg);
    @include size(1440px, 858px);
    margin: 0 auto;
    color: $nike-color;
  }
  &-nike {
    color: $nike-color;
    @include size(160px, 120px);
    margin-top: 94px;
  
    margin-left: 170px;
  }
  &-cqr {
    font-family: "PT Serif";
    font-size: 48px;
    font-weight: 400;
  }

  &-colorawe-title {
    font-family: "Playfair Display";
    font-size: 144px;
    @include size(640px, 192px);
    margin-top: 27px;
    margin-left: 156px;
    height: 150px;
  }
  .nike-container {
    position: relative;
  }
  .text-c-and-r {
    position: absolute;
    bottom: -20px;
    left: 190px;
  }
  &-your-dream-nike-text {
    font-family: "Playfair Display";
    font-size: 72px;
    @include size(540px, 96px);
    margin-left: 156px;
  }

  &-text {
    font-size: 18px;
    @include size(508px, 84px);
    font-weight: 400;
    line-height: 21.09px;
  
    margin-left: 156px;
    margin-bottom: 41px;
  }
  &-button {
    @include size(254px, 67px);
    font-size: 24px;
    border-radius: 10px;
    color: $nike-color;
    background-color: $button-color;
    margin-left: 156px;
  }
}

.benefits {
  background-image: url(../img/Group\ 8\ 1.png);
  @include size(1440px, 606px);
  @extend %flexmargin;
  justify-content: center;
  align-items: center;
}

.benefits-border {
  border: 5px $button-color solid;
  @extend %flex;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.div-star {
  @include size(240px, 240px);
}

.div-star-name {
  color: $nike-color;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 47.99px;
  text-align: center;
  @include size(159px, 102px);
}

.div-color {
  @include size(240px, 240px);
}

.div-color-name {
  font-family: "Playfair Display";
  color: $nike-color;
  @include size(161px, 102px);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.div-car {
  @include size(240px, 240px);
}

.div-car-name {
  font-family: "Playfair Display";
  color: $nike-color;
  @include size(151px, 103px);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.div-box {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  padding-right: 50px;
}

.div-box:last-child {
  border-right: none;
  padding-left: 50px;
  padding-right: 10px;
}

.div-box:nth-child(2) {
  padding-left: 90px;
  padding-right: 90px;
}

.reviews-wrapper {
  background: url("../img/reviewsbackground\ \(1\).png");
  @include size(1440px, 520px);
  @extend %flexmargin;
  justify-content: center;
  flex-direction: column;
  border: 2px solid $nike-color;
}

.reviews-title {
  color: $nike-color;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  @include size(175px, 65px);
  align-self: center;

  margin-top: 24px;
  margin-bottom: 24px;
}

.reviews {
  @extend %flex;
  background: url("../img/leaves.png") no-repeat bottom left;
  @include size(1440px, 407px);
}

.reviews-list {
  color: $nike-color;
  @extend %flexmargin;
  @include size(951px, 292px);
  border-radius: 15px;

  justify-content: space-between;
}

.reviews-item1 {
  @include size(255px, 292px);
  border-radius: 15px;
  padding-left: 13px;
  background: linear-gradient(
    136.55deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );

  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.reviews-text {
  @include size(228px, 112px);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;

  margin-top: 49px;
}

.reviews-date {
  color: $header-text;
  @include size(36px, 16px);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;

  padding-top: 8px;
  margin-bottom: 47px;
}

.reviews-author {
  @extend %flex;
}

.reviews-img {
  margin-right: 5px;
  @include size(33px, 33px);
}

.reviews-from-when {
  color: $header-text;
  margin-top: 1px;
}

.reviews-item2 {
  @include size(255px, 292px);
  border-radius: 15px;
  padding-left: 13px;
  background: linear-gradient(
    136.55deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );

  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.reviews-item3 {
  @include size(255px, 292px);
  border-radius: 15px;
  padding-left: 13px;
  background: linear-gradient(
    142.67deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );

  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}


.order-wrapper {
  background: url("../img/bacroundorder.png") no-repeat center/cover;
  @include size(1440px, 509px);
  @extend %flexmargin;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.confirm {
  background-color: $nike-color;
  color: $main-text;
  position: absolute;
  @include size(101px, 34px);
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  top: 130px;
  left: 870px;
  border-style: none;
}

.order-title {
  color: $nike-color;
  font-family: "Playfair Display";
  @include size(130px, 64px);
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  align-self: center;

  margin-top: 21px;
  margin-bottom: 33px;
}

.input-email {
  @include size(690px, 60px);
  border-radius: 50px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  border: none;
  padding-left: 25px;
}

.order-form {
  height: 354px;
  @extend %flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  @include size(580px, 50px);
  border-radius: 50px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  border: none;
  padding-left: 25px;
}

.order-button {
  background-color: $button-color;
  color: $nike-color;
  @include size(248px, 68px);
  border-radius: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  border: none;
}

footer {
  background-color: $footer-background;
  @include size(1440px, 292px);
  margin: 0 auto;
}

.footer-questions {
  color: $nike-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  @include size(354px, 28px);
}

.footer-text:nth-child(1) {
  margin-top: 45px;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-right-text:nth-child(1) {
  margin-top: 45px;
}

.footer-email {
  color: $nike-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  @include size(384px, 28px);
  height: 28px;
  width: 384px;
  @extend %flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right-text a {
  color: $nike-color;
}

.footer-right-text {
  margin-bottom: 10px;
}

.footer-top {
  @include size(1110px, 169px);
  @extend %flexmargin;
  justify-content: space-between;
  border-bottom: 1px $main-text solid;

}

.footer-address {
  color: $nike-color;
  @include size(291px, 21px);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  margin-top: 24px;
}

.footer-bottom {
  width: 1110px;
  @extend %flexmargin;
  justify-content: space-between;
  background: url("../img/nike.svg") no-repeat;
  background-position: 1015px -1px;
  background-size: 108px 81px;
}

.footer-bottom-item {
  margin-bottom: 7px;
}

.footer-right-text p {
  color: $nike-color;
  @include size(60px, 86px);
  font-family: "PT Serif";
  font-size: 24px;
  font-weight: 400;
  line-height: 31.8px;

  margin-top: 62px;
  margin-right: 10px;
}
